@import '../../style-utility/variables';


.intro-component{
  background-color: $color-main;
}

.portfolio-component{
  background-color: #2f2824;
}

.works-component{
  background-color: #172b26;
}

.testimonials-component{
  background-color: #1e1f16;
}

.contact-component{
  background-color: #352828;
}

.nav-bar{
  width: 100%;
  height: 70px;
  color: white;
  position: fixed;
  top: 0;
  z-index: 3;
  transition: all 1s ease;

  .wrapper{
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left{
      display: flex;
      align-items: center;

      .logo{
        font-size: 40px;
        font-weight: 700;
        text-decoration: none;
        color: inherit;

        span{
          font-family: $font-family-ret-ganon;
        }
      }

      .item-container{
        margin-left: 30px;

        .icon{
          display: flex;
          font-size: 22px;
          text-decoration: none;
          color: white;
          transition: all 1s ease;
        }
      }

      @media (max-width: $tablet-view-small) {
        .item-container{
          display: none;
        }
      }
    }

    .right{

      .hamburger-menu{
        width: 32px;
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;

        span{
          width: 100%;
          height: 3px;
          background-color: white;
          transform-origin: left;
          transition: all 2s ease;
        }
      }
    }
  }

  &.active{
    background-color: white;
    color: $color-main;

    .left{
      .item-container{
        .icon{
          color: $color-main;
        }
      }
    }

    .hamburger-menu{
      span{
        &:first-child{
          background-color: $color-main;
          transform: rotate(45deg);
        }
        &:nth-child(2){
          opacity: 0;
        }
        &:last-child{
          background-color: $color-main;
          transform: rotate(-45deg);
        }
      }
    }
  }
}