@import '../../style-utility/variables';

.intro{
  background: linear-gradient(to bottom, #15023a, #a88b7a);
  display: flex;
  flex-direction: row;
}

@media (max-width: $tablet-view-small) {
  .intro{
    flex-direction: column;
  }    
}